* {
  font-family: "Montserrat", sans-serif;
}

@keyframes slide {
  0% {
    transform: translateX(1000px);
  }
  100% {
    transform: translateX(0px);
  }
}

.contain {
  padding-top: 40px;
  margin: 5px 7%;
}

#loading {
  margin: auto;
  display: block;
  padding-top: 60px;
}

.text-body {
  margin-top: 50px;
  padding-right: 2%;
}

.right {
  padding-left: 2%;
}

.rowflex {
  display: flex;
  flex-wrap: wrap;
}

p {
  width: 300px;
  text-align: left;
  float: right;
  background: rgba(255, 255, 255, 0.82);
  padding: 20px;
  border-radius: 10px;
  margin-right: 15px;
  font-family: "Montserrat", sans-serif;
}

.background {
  background-image: url("../../../assets/truck.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 69vh;
  width: 99vw;
  z-index: -20;
}

@media screen and (max-width: 647px) {
  p {
    float: none;
    text-align: center;
    margin: auto;
  }
  .col {
    margin: 0 auto;
  }
  .text-body {
    margin-top: 10px;
  }
  .right {
    padding: 0;
    max-width: fit-content;
  }
  .background {
    height: 110vh;
  }
}

@media only screen and (max-width: 400px) {
  .text {
    max-width: 220px;
  }
  .background {
    height: 150%;
  }
  .contain {
    margin-left: -5px;
  }
}
