<div class="background">
    <img *ngIf="isLoading"id="loading" src="../../../assets/infinitySpinner.svg" alt="">
<div class="contain" *ngIf="!isLoading">
    <div class="rowflex">
        <div class="col text-body">
            <p class="text">Please do not hesitate to give us a call or text if you have any questions, comments or concerns! 
                <br><br>
                <a href="tel:630-344-9744">(630)-344-9744 </a>
                <br><br>
                *Emails may take up to 72 hours to receive a response.
                <br><br>
                To make a reservation, click <a routerLink="/rentals">here</a>
            </p>
            
        </div>
        <div class="col right">
            <app-contactform (customerEvent)="custEventHandler($event)"></app-contactform>
        </div>
    </div>

</div>
</div>
<app-footer></app-footer>
