#title {
  font-size: 300%;
  font-family: "Cinzel", serif;
  text-align: center;
}

#textbox {
  max-width: 1000px;
  margin: auto;
}

#text {
  margin: 30px 40px;
}

.header {
  padding: 15px;
  font-size: 200%;
  font-family: "Cinzel", serif;
  text-align: center;
}

#modaltitle {
  font-family: "Cinzel", serif;
  font-size: 25px;
  text-align: center;
  padding-top: 5px;
}

p {
  font-family: "Montserrat", sans-serif;
}

#tooltip {
  position: relative;
  display: inline-block;
  color: dimgrey;
  font-size: 23px;
}

#tooltip #tooltiptext {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  visibility: hidden;
  background-color: white;
  color: black;
  text-align: center;
  border: 1px solid grey;
  border-radius: 10px;
  position: absolute;
  margin-bottom: 10px;
  z-index: 1;
  width: 350px;
  bottom: 100%;
  left: 50%;
  margin-left: -175px;
}

#tooltip:hover #tooltiptext {
  visibility: visible;
}

table {
  margin: auto;
  -webkit-box-shadow: 0 10px 6px -6px #777;
  -moz-box-shadow: 0 10px 6px -6px #777;
  box-shadow: 0 10px 6px -6px #777;
}
td {
  margin: 5px 0 5px 0;
}
th {
  width: 120px;
  padding-top: 5px;
}
tr,
td {
  padding: 3px 0;
}

.bottom {
  padding-bottom: 10px;
}

.bold {
  font-weight: 700;
  width: 75px;
}

#main {
  display: flex;
  margin: auto;
  margin-bottom: 65px;
  max-width: 1000px;
}

#left {
  width: 30%;
  padding-top: 40px;
}

#right {
  width: 60%;
}

#left,
#right {
  height: 415px;
  margin-left: 30px;
  border-radius: 10px;
  border: 1px solid grey;
  margin-top: 20px;
  -webkit-box-shadow: 0 10px 6px -6px #777;
  -moz-box-shadow: 0 10px 6px -6px #777;
  box-shadow: 0 10px 6px -6px #777;
}

#amount {
  text-align: center;
}

#dollars {
  /* width: 125px; */
  height: 65px;
  min-height: 65px;
  font-size: 60px;
  text-align: center;
  font-family: "Cinzel", serif;
  border: 1px solid grey;
  border-radius: 10px;
}

#dollar-sign {
  font-family: "Cinzel", serif;
  font-size: 65px;
}

#expiration {
  width: 80%;
  margin: 30px auto 0 auto;
}

#contact {
  margin: 20px 10px;
}

.stripe {
  max-width: 500px;
  margin: auto;
}

form {
  text-align: center;
}

mat-form-field {
  /* padding: 0 15px 0 15px; */
}

.btn {
  border-radius: 5px;
  margin: 10px;
  font-family: "Montserrat", sans-serif;
}

textarea {
  white-space: pre;
  /* overflow-wrap: break-word; */
  height: 80px;
}

mat-form-field {
  width: 80%;
}

#loading {
  text-align: center;
  display: block;
}

#load-text {
  font-size: 22px;
  font-family: "Cinzel", serif;
  margin-top: -45px;
  margin-bottom: 95px;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}

@media only screen and (max-width: 790px) {
  #main {
    display: block;
  }

  #left,
  #right {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }

  #left {
    height: 300px;
  }

  #right {
    margin-bottom: 40px;
  }
}

@media only screen and (max-width: 420px) {
  #dollars {
    font-size: 45px;
  }
  #dollar-sign {
    vertical-align: sub;
  }
}

@media only screen and (max-width: 319px) {
  #left {
    height: 350px;
  }
}
