<div id="title" class="mt-4">Gift Cards</div>

<p id="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem animi dolorum veniam esse aut exercitationem cum, adipisci molestiae quas iure labore eos eius debitis recusandae voluptates nihil sunt quasi quis! Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam repudiandae aliquam hic odit tempore suscipit nostrum itaque facere a nam dignissimos atque, expedita neque assumenda reprehenderit ipsa iure accusamus consectetur?</p>

<div id="main">

    <div id="left">
        <div class="header">How Much?
            <span id="tooltip"><i class="far fa-question-circle"></i>
                <span id="tooltiptext">
                    <div id="modaltitle">Rental Prices</div>
                    <table>
                        
                        <tr>
                            <th></th>
                            <th>Single Kayaks</th>
                            <th>Canoes & Tandems</th>
                        </tr>
                        <tr>
                            <td class="bold">North Aurora</td>
                            <td>$30</td>
                            <td>$60</td>
                        </tr>
                        <tr class="bottom">
                            <td class="bold bottom">Batavia</td>
                            <td class="bottom">$55</td>
                            <td class="bottom">$110</td>
                        </tr>
                        
                    </table>
                </span>
            </span>
        </div>
        <div id="amount">
            <span id="dollar-sign">$</span>
            <input type="text" [(ngModel)]="amount" id="dollars" >
        </div>
    </div>

    <div id="right">
        <div class="header">Who is it for?</div>
        <form class="form" >
                   
            <mat-form-field >
                <mat-label>Recipient's Email*</mat-label>
                <input name="recipient-email" matInput type="email" [(ngModel)]="recipientEmail" class="inputs" id="recipient-email"  required>
            </mat-form-field>
            <br>
            <span id="flex">

                <mat-form-field >
                    <mat-label>Sender's Name*</mat-label>
                    <input name="sender-name" matInput type="text" [(ngModel)]="senderName" class="inputs" id="sender-name"  required>
                </mat-form-field>
                <br>
                <mat-form-field >
                    <mat-label>Sender's Email*</mat-label>
                    <input name="sender-email" matInput type="email" [(ngModel)]="senderEmail" class="inputs" id="sender-email"  required>
                </mat-form-field>
            </span>
                <br>
            <mat-form-field >
                <mat-label>Message</mat-label>
                <textarea name="recipient-email" matInput type="text" [(ngModel)]="recipientEmail" class="inputs" id="recipient-email"  ></textarea>
            </mat-form-field>
            <br>
            <button class="btn-secondary mb-4 submit" (click)="submit()">Send</button>
        </form>
        
        
    </div>
</div>