<div class="container">

    <div id="title" class="mt-4">Gift Cards</div>
    
    <div id="textbox">
        <p id="text">Give the unique gift of a float trip on the Fox River! Paddling the Fox River is safe, fun, and highly Instagramable! Please feel free to call at <a href="tel:630-344-9744">(630)-344-9744 </a> or <a href="https://howlingwolfe.com/contact">contact us</a> with any questions.</p>
    </div>
    
    <div *ngIf="isLoading" id="loading">
    <img  src="../../../assets/infinitySpinner.svg" alt="Loading Spinner">
    <div id="load-text">{{loadText}}</div>
</div>

<div id="main" *ngIf="mainBoolean">
    <div id="left">
        <div class="header">How Much?
            <span id="tooltip"><i class="far fa-question-circle"></i>
                <span id="tooltiptext">
                    <div id="modaltitle">Rental Prices</div>
                    <table>
                        <tr>
                            <th></th>
                            <th>Single Kayaks</th>
                            <th>Canoes & Tandems</th>
                        </tr>
                        <tr>
                            <td class="bold">North Aurora</td>
                            <td>$39</td>
                            <td>$78</td>
                        </tr>
                        <tr class="bottom">
                            <td class="bold bottom">Batavia</td>
                            <td class="bottom">$69</td>
                            <td class="bottom">$138</td>
                        </tr>
                    </table>
                </span>
            </span>
        </div>
        <div id="amount">
            <span id="dollar-sign">$</span>
            <input type="number" [(ngModel)]="amount" [style.width]="dollarWidth" id="dollars" >
        </div>
        <p id="expiration">Gift certificates may be used for rentals, lessons, guided trips, and shuttles.</p>

        <div class="totals">
            <div *ngIf="!couponBoolean">
                <div class="alert alert-danger mb-1" *ngIf="couponError">{{couponErrorMsg}}</div>
                <mat-form-field class="coupon" >
                    <mat-label >Coupon Code</mat-label>
                    <input name="coupon" matInput type="text" [(ngModel)]="coupon" class="coupon" style="text-transform:uppercase" oninput="this.value = this.value.toUpperCase()">
                </mat-form-field>
                <button class="btn btn-secondary" (click)="submitCoupon()">Submit</button>
            </div>
            <div id="update-totals" *ngIf="couponBoolean">
                <p class="sub-total calculations"> Subtotal: &nbsp; {{amount | currency:USD}}</p>
                <p class="discount calculations">Coupon: &nbsp; &nbsp; &nbsp; - {{discount}}%</p>
                <p class="calculations total"> Total: &nbsp; {{total | currency:USD}}</p>
            </div>
        </div>
    </div>

    <div id="right">
        <div class="header mt-2">Who is it for?</div>
        <form class="form" >
            <mat-form-field >
                <mat-label>Recipient's Email</mat-label>
                <input name="recipient-email" matInput type="email" [(ngModel)]="recipientEmail" class="inputs" id="recipient-email"  required>
            </mat-form-field>
            <br>
            <mat-form-field >
                <mat-label>Sender's Name</mat-label>
                <input name="sender-name" matInput type="text" [(ngModel)]="senderName" class="inputs" id="sender-name"  required>
            </mat-form-field>
            <br>
            <mat-form-field >
                <mat-label>Sender's Email</mat-label>
                <input name="sender-email" matInput type="email" [(ngModel)]="senderEmail" class="inputs" id="sender-email"  required>
            </mat-form-field>
            <br>
            <mat-form-field >
                <mat-label>Message</mat-label>
                <textarea name="recipient-email" matInput type="text" [(ngModel)]="message" class="inputs" id="recipient-email"  ></textarea>
            </mat-form-field>
            <br>
            <button class="btn btn-secondary mb-4 submit" (click)="submit()">Submit</button>
        </form>
    </div>
</div>

<div *ngIf="stripeFailBoolean" class="alert alert-danger"> {{stripeFailText}}</div>

<div *ngIf="stripeCheckout" class="stripe">
    <form class="form mt-4">
        <mat-form-field>
            <mat-label>Credit Card</mat-label>
            <input type="number" matInput [(ngModel)]="cardNumber" name="cardNumber" required>
        </mat-form-field>
        <br>
        <mat-form-field>
                <mat-label>Expiration Month (MM)</mat-label>
                <input type="number" matInput [(ngModel)]="expMonth" name="expMonth" required>
            </mat-form-field>
            <br>
            <mat-form-field>
                <mat-label>Expiration Year (YYYY)</mat-label>
                <input type="number" matInput [(ngModel)]="expYear" name="expYear" required>
            </mat-form-field>
            <br>
            <mat-form-field>
                <mat-label>CVC</mat-label>
                <input type="text" matInput [(ngModel)]="cvc" name="cvc" required>
            </mat-form-field>
            <br>
            
            <button class="btn btn-secondary submit" (click)="stripeSubmit()" >Submit</button>
        </form>
    </div>
    
    <hr>
</div>
    <app-footer></app-footer>