<div class="background">
    <img *ngIf="isLoading"id="loading" src="../../../assets/infinitySpinner.svg" alt="">
    <div class="contain" *ngIf="!isLoading">
        <div class="rowflex">
            <div class="col text-body">
                <p class="text">Are you new to kayaking or canoeing and interested in learning the basics such as paddle strokes and rescues? 
                    <br><br>
                    Are you looking to hone in your skills before your next race? 
                    <br><br>
                    Look no further than Howling Wolfe Canoe  & Kayak! We have guides and instructors certified by the American Canoe Association who can custom build a lesson best suited for your needs. 
                    <br><br>
                    Please call or text to set up a custom lesson! 
                    <br><br>
                    (630) 344-9744
                    <br><br>
                    *Emails may take up to 72 hours to receive a response.
                    
                </p>
            </div>
            <div class="col right">
                <app-contactform (customerEvent)="custEventHandler($event)"></app-contactform>
            </div>
        </div>
    
    </div>
    <app-rent [rentalType]="rentalType"></app-rent>
</div>
<app-footer></app-footer>