<div class="background">
    <img *ngIf="isLoading"id="loading" src="../../../assets/infinitySpinner.svg" alt="">
    <div class="container" *ngIf="!isLoading">
        <div class="rowflex">
            <div class="col text-body">
                <p class="text">Are you new to kayaking or canoeing and interested in learning the basics such as paddle strokes and rescues? 
                    <br><br>
                    Are you looking to hone in your skills before your next race? 
                    <br><br>
                    Look no further than Howling Wolfe Canoe  & Kayak! We have guides and instructors certified by the American Canoe Association who can custom build a lesson best suited for your needs. 
                    <br><br>
                    Please call or text to set up a custom lesson! 
                    <br><br>
                    (630) 344-9744
                    <br><br>
                    *Emails may take up to 72 hours to receive a response.
                    
                </p>
            </div>
            <div class="col">
                <div *ngIf="errorBoolean" class="alert alert-danger">All fields required</div>
                <form class="form" >
                   
                    <mat-form-field class="first">
                        <mat-label >First Name</mat-label>
                        <input name="firstName" matInput type="text" [(ngModel)]="firstName" class="firstName"  required>
                    </mat-form-field>
                    <br>
                    <mat-form-field>
                        <mat-label >Last Name</mat-label>
                        <input name="lastName" matInput type="text" [(ngModel)]="lastName" class="lastName"  required>
                    </mat-form-field>
                    <br>
                    <mat-form-field>
                        <mat-label >Email</mat-label>
                        <input name="email" matInput type="text" [(ngModel)]="email" class="email"  required>
                    </mat-form-field>
                    <br>
                    <mat-form-field>
                        <mat-label >Phone</mat-label>
                        <input name="phone" matInput type="text" [(ngModel)]="phone" class="phone"  required>
                    </mat-form-field>
                    <br>
                    <mat-form-field class="last">
                        <mat-label >Message</mat-label>
                        <textarea name="message" matInput type="text" [(ngModel)]="message" class="message"  required></textarea>
                    </mat-form-field>
                    <br>
                    
                    <button class="btn-secondary mb-4 submit" (click)="submit()">Send</button>
                        
            
                </form>
            </div>
        </div>
    
    </div>
</div>
<app-footer></app-footer>