<footer class="center">
    <div class="socials">
        <a target="_blank" href="https://www.instagram.com/howlingwolfecanoe/"><i class="fab fa-instagram"></i></a>
        <a target="_blank" href="https://vm.tiktok.com/TTPdrDCcv9/"><i class="fab fa-tiktok"></i></a>
        <a target="_blank" href="https://facebook.com/Howlingwolfecanoeandkayak/"><i class="fab fa-facebook-square"></i></a>
    </div>
    <div class="links">
        <a routerLink="/rentals">Rentals</a>
        <span> | </span>
        <a routerLink="/lessons">Lessons</a>
        <span> | </span>
        <a routerLink="/guided">Guided</a>
        <span> | </span>
        <a routerLink="/contact">Contact Us</a>
    </div>
    <div class="contact-info">
        <p class="title">Howling Wolfe Canoe and Kayak</p>
        <p class="address">Aurora, Illinois</p>
        <a href="tel:630-344-9744" class="phone">(630) 344-9744</a><br>
        <a href="mailto:info@howlingwolfe.com" class="email">info@howlingwolfe.com</a>
    </div>
</footer>