#navbar {
  /* background-color: rgb(180, 228, 185); */

  padding-top: 20px;
  position: relative;
  display: flex;

  /* height: 40px; */
}

.hamburger {
  display: none;
}

.title {
  display: inline;
  position: absolute;
  left: 20px;
  font-size: 25px;
  font-family: "Cinzel", serif;
}

.cart-link {
  z-index: 20;
}

.cart {
  position: absolute;
  right: 30px;
  width: 70px;
  margin-top: -10px;
  z-index: -20;
}

.quantity {
  position: absolute;
  right: 25px;
  font-size: 13px;
  margin-top: -15px;
  padding: 3px 6px;
}


.links {
  margin: 21px auto 0 auto;
  display: flex;
  justify-content: space-evenly;
  width: 95vw;
  font-size: 18px;
  border-bottom: none;
}

.button-links {
  width: 100%;
  text-align: center;
  cursor: pointer;
  height: 37px;
  font-size: 20px;
}

.separate {
  font-size: 22px;
}

li {
  text-decoration: none;
  display: inline;
}
a,
a:hover,
a:active,
a:visited,
a:focus {
  text-decoration: none;
  color: black;
  font-family: "Cinzel", serif;
  /* font-size: 18px; */
}


.router-link-active {
  opacity: 1;
}

.mat-tab-header-pagination,
.mat-tab-header-pagination-controls-enabled,
.mat-tab-header-pagination-before,
.mat-tab-header-pagination-after {
  display: none;
}

@media only screen and (max-width: 655px) {
  .button-links {
    font-size: 17px;
    min-width: 0px;
  }
}

@media only screen and (max-width: 530px) {
  #navbar {
    height: 60px;
  }
  .links {
    display: none;
  }
  .cart {
    top: 26px;
    max-width: 50px;
    right: 12px;
  }
  .quantity {
    top: 26px;
    right: 10px;
    font-size: 10px;
    height: 15px;
    width: 15px;
    padding: 0 3.5px;
  }
  .title {
    left: 65px;

    text-align: right;
  }
  .hamburger {
    display: block;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    position: absolute;
    left: 20px;
    font-size: 25px;
    margin-top: -5px;
    margin-right: 10px;
    padding: 0;
  }
}

@media only screen and (max-width: 350px) {
  .title {
    width: 120px;
    margin-top: -10px;
  }
  .hamburger {
    margin-top: -10px;
  }
}
