<nav id="navbar">
    <div class="menu">
       <button class="hamburger" mat-button [matMenuTriggerFor]="menu"><i class="fas fa-bars"></i></button>
       <mat-menu #menu="matMenu">
        <a routerLink="/rentals" mat-menu-item>Rentals</a>
        <a routerLink="/lessons" mat-menu-item>Lessons</a>
        <a routerLink="/guided" mat-menu-item>Guided</a>
        <a routerLink="/contact" mat-menu-item>Contact</a>
      </mat-menu>
    </div>
    <a routerLink="/" class="title">Howling Wolfe</a>
    <a routerLink="/cart" class="cart-link">
        <img class="cart" src="../../../assets/canoe detail.png" alt="Canoe Cart" (click)="cart()">
        <div *ngIf="quantity" class="quantity">{{quantity}}</div>
    </a>
    
    <div class="links">
        <a class="button-links"  routerLink="/rentals">Rentals</a>
        <span class="separate"> | </span>
        <a class="button-links" routerLink="/lessons">Lessons</a>
        <span class="separate"> | </span>
        <a class="button-links" routerLink="/guided">Guided</a>
        <span class="separate"> | </span>
        <a class="button-links" routerLink="/contact">Contact</a>
    </div>
    
</nav>