<div class="background">
    <img *ngIf="isLoading"id="loading" src="../../../assets/infinitySpinner.svg" alt="">
    <div class="contain" *ngIf="!isLoading">
        <div class="rowflex">
            <div class="col text-body">
                <p class="text">Join Howling Wolfe Canoe & Kayak for your next Fox River Adventure! 
                    <br><br>
                    Our certified guides and instructors will help ensure that you have an excellent experience kayaking the Fox River. 
                    <br><br>
                    Guides will teach basic paddle strokes and how to navigate the river. Howling Wolfe Canoe & Kayak guides are well versed with the many different species of wildlife such as Great Blue Herons, Cormorants, Deer, Muskrat, Beaver, Carp, Bass, Red Tailed Fox, Racoon, Red Tailed Hawks, and Bald Eagles just to name a few!
                    <br><br>
                    Howling Wolfe Canoe & Kayak can also do custom guided trips for your next birthday party or office outing! 
                    <br><br>
                    Don’t delay, call or text today! 
                    <br><br>
                    (630) 344-9744
                    <br><br>
                    *Emails may take up to 72 hours to receive a response.
                </p>
                
            </div>
            <div class="col right">
                <app-contactform (customerEvent)="custEventHandler($event)"></app-contactform>
               
            </div>
        </div>
    </div>
</div>
<br><br>
<app-footer></app-footer>
