<div class="background">
    <img *ngIf="isLoading"id="loading" src="../../../assets/infinitySpinner.svg" alt="">
    <div class="container" *ngIf="!isLoading">
        <div class="rowflex">
            <div class="col text-body">
                <p class="text">Join Howling Wolfe Canoe & Kayak for your next Fox River Adventure! 
                    <br><br>
                    Our certified guides and instructors will help ensure that you have an excellent experience kayaking the Fox River. 
                    <br><br>
                    Guides will teach basic paddle strokes and how to navigate the river. Howling Wolfe Canoe & Kayak guides are well versed with the many different species of wildlife such as Great Blue Herons, Cormorants, Deer, Muskrat, Bever, Carp, Bass, Red Tailed Fox, Racoon, Red Tailed Hawks, Bald Eagles just to name a few!
                    <br><br>
                    Howling Wolfe Canoe & Kayak can also do custom guided trips for your next birthday party or office outing! 
                    <br><br>
                    Don’t delay, call or text today! 
                    <br><br>
                    (630) 344-9744</p>
                
            </div>
            <div class="col">
                <div *ngIf="errorBoolean" class="alert alert-danger">All fields required</div>
                <form class="form" >
                   
                    <mat-form-field class="first">
                        <mat-label >First Name</mat-label>
                        <input name="firstName" matInput type="text" [(ngModel)]="firstName" class="firstName"  required>
                    </mat-form-field>
                    <br>
                    <mat-form-field>
                        <mat-label >Last Name</mat-label>
                        <input name="lastName" matInput type="text" [(ngModel)]="lastName" class="lastName"  required>
                    </mat-form-field>
                    <br>
                    <mat-form-field>
                        <mat-label >Email</mat-label>
                        <input name="email" matInput type="text" [(ngModel)]="email" class="email"  required>
                    </mat-form-field>
                    <br>
                    <mat-form-field>
                        <mat-label >Phone</mat-label>
                        <input name="phone" matInput type="text" [(ngModel)]="phone" class="phone"  required>
                    </mat-form-field>
                    <br>
                    <mat-form-field class="last">
                        <mat-label >Message</mat-label>
                        <textarea name="message" matInput type="text" [(ngModel)]="message" class="message"  required></textarea>
                    </mat-form-field>
                    <br>
                    
                    <button class="btn-secondary mb-4 submit" (click)="submit()">Send</button>
                        
            
                </form>
            </div>
        </div>
    
    </div>
    </div>