<div class="title m-4">Rent A Boat</div>
<div class="container">

    <img *ngIf="isLoading"id="loading" src="../../../assets/infinitySpinner.svg" alt="">
    <div *ngIf="noAvailError" class="alert alert-danger">{{ noAvailText }}</div>
    <div *ngIf="boatBoolean" class="container mt-4">
        <div class="row">
            <div class="col-sm card" (click)="boatSelection($event)">
                <img src="../../../assets/kayak single.jpg" alt="Single Kayak" class="single card-img-top">
                <div class="card-body">
                    <h3 class="card-title">Single Kayak</h3>
                    <p class="card-text">Includes a paddle and a PFD (Personal Flotation Device)</p>
                </div>
            </div>
            <div class="col-sm card" (click)="boatSelection($event)">
                <img src="../../../assets/canoe rental.jpg" alt="Canoe" class="canoe card-img-top">
                <div class="card-body">
                    <h3 class="card-title">Canoe</h3>
                    <p class="card-text">Includes two paddles and a PFD (Personal Flotation Device)</p>
                </div>
            </div>
        </div>

        <!-- <div class="row">
            <div class="col-sm card" (click)="boatSelection($event)">
                <img src="../../../assets/kayak tandem.jpg" alt="Tandem Kayak" class="tandem card-img-top">
                <div class="card-body">
                    <h3 class="card-title">Tandem Kayak</h3>
                    <p class="card-text">Includes two paddles and a PFD (Personal Flotation Device)</p>
                </div>
            </div>
            
            <div class="col-sm card" (click)="boatSelection($event)">
                <img src="../../../assets/fishing kayak.jpg" alt="Fishing Kayak" class="fishing card-img-top">
                <div class="card-body">
                    <h3 class="card-title">Fishing Kayak</h3>
                    <p class="card-text">Includes one paddle and a PFD (Personal Flotation Device)</p>
                </div>
            </div>
        </div> -->
    </div>

    <div *ngIf="dateBoolean" class="date">
    <!-- two columns hours of operation and form -->
    <div *ngIf="errorBoolean" class="alert alert-danger">
        All fields are mandatory
    </div>
    <form class="dateForm form mt-4" >
        <mat-form-field class="date-picker" appearance="fill">
            <mat-label>Choose a date</mat-label>
            <input matInput [min]="minDate" [matDatepickerFilter]="myFilter" [matDatepicker]="picker" name="date" [(ngModel)]="date" required (click)="resetTime()">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <br>
        <mat-form-field>
            <mat-label >Shuttle</mat-label>
            <mat-select name="shuttle" class="shuttle" [(ngModel)]="shuttle" required (click)="resetTimeAndDuration()">
                <mat-option [value]="'None'">No Shuttle</mat-option>
                <mat-option [value]="'North-Aurora'">North Aurora</mat-option>
                <mat-option [value]="'Batavia'">Batavia</mat-option>
            </mat-select>
        </mat-form-field>
        <br>
        <mat-form-field>
            <mat-label >Duration</mat-label>
            <mat-select name="duration" class="duration" [(ngModel)]="duration" required (click)="durationResolver()">
                <mat-option *ngFor="let duration of durationOptions" [value]="duration.value">{{duration.duration}}</mat-option>
            </mat-select>
        </mat-form-field>
        <br>
        <mat-form-field>
            <mat-label >Time of Day</mat-label>
            <mat-select name="time" class="time" [(ngModel)]="time" required (click)="timeResolver()">
                <mat-option *ngFor="let time of timeOptions" [value]="time.value" >{{time.time}}</mat-option>
            </mat-select>
        </mat-form-field>
        <br>
        <mat-form-field>
            <mat-label >Each Participant(s) Height</mat-label>
            <input name="height" matInput type="text" [(ngModel)]="height" class="height"  required>
        </mat-form-field>
        <br>
        <mat-form-field>
            <mat-label >Each Participant(s) Weight</mat-label>
            <input name="weight" matInput type="text" [(ngModel)]="weight" class="weight"  required>
        </mat-form-field>
        <br>
        
        
        <button class="btn btn-secondary mb-4 submit" (click)="submitDate()" >Add to Cart</button>
        
        
    </form>
</div>


<div *ngIf="addedToCartBoolean" class="check-out">
    <h2 class="added">A {{selectedBoat}} has been added to your cart!</h2>
    <button class="btn btn-secondary" routerLink="/cart">View Your Cart</button>
    <button class="btn btn-secondary" (click)="addAnotherBoat()">Add More Boats</button>
</div>
<div *ngIf="adminResOptions" class="check-out">
    <h2 class="added">A {{selectedBoat}} has been added!</h2>
    <button class="btn btn-secondary" (click)="adminResFinish()">Client Info</button>
    <button class="btn btn-secondary" (click)="addAnotherBoat()">Add More Boats</button>
</div>
<div *ngIf="adminResBoolean" class="admin-res" >
    <app-adminres></app-adminres>
</div>
</div>