<div class="trip-text" *ngIf="sunsetBoolean">
    <p>Join Howling Wolfe Canoe & Kayak for a fun, quick family friendly kayak tour on the Fox River that ends with everyones favorites, sunsets and S&#39;mores!!!</p>

    <p>To be in a single kayak participants must be 15 years of age and at least 100lbs. To be in a tandem kayak with an adult children must be at least 30 pounds and follow directions well. </p>

    <p> We will meet at the Aurora Athletic Club (550 Clearwater Drive Aurora) and then shuttle participants up to North Aurora and we will paddle back to the Aurora Athletic Club, where participants cars are parked.</p>

    <p>During our paddle we will have lots of opportunities to see wildlife such as bald eagles, osprey, deer, beaver, muskrats, great blue herons, egrets, kingfisher and many more! </p>

    <p class="subtitle">The cost for the experience is $59/person and it includes…</p>
    <ul>
        <li>Kayak</li>
        <li>Shuttle</li>
        <li>Paddle</li>
        <li>Personal Floatation Device</li>
        <li>Guide</li>
        <li>S&#39;mores</li>
        <li>A Great Time!!!</li>
    </ul>
</div>

<div class="trip-text" *ngIf="bluesBoolean">
    <p>Join Howling Wolfe Canoe & Kayak every Wednesday for an after-work guided kayak tour ending with live blues music!</p>

    <p>The Fabulous Kings will be performing from 6pm-9pm and after their set they invite the audience for an open jam.</p>

    <p>We will meet at the Aurora Athletic Club (550 Clearwater Drive Aurora) and then shuttle participants up to North Aurora and we will paddle back to the Aurora Athletic Club, where participants cars are parked.</p>

    <p class="subtitle">The cost for the experience is $59/person and it includes…</p>
    <ul>
        <li>Kayak</li>
        <li>Shuttle</li>
        <li>Paddle</li>
        <li>Personal Floatation Device</li>
        <li>Guide</li>
        <li>A Great Time!!!</li>
    </ul>

    <p>The music is not exclusive to the kayak trip!</p>

    <p>Folks are more than welcome to meet at the Aurora Athletic Club for free Blues<br>(Please be sure to purchase a drink!)</p>
</div>

<div class="trip-text" *ngIf="bataviaBoolean">
    <p>Join Howling Wolfe Canoe & Kayak for a leisurely 2.5 hour guided kayak tour on the beautiful Fox River. </p>

    <p>We will meet at the Aurora Athletic Club (550 Clearwater Drive Aurora) and then shuttle participants up to Batavia and we will paddle back to the Aurora Athletic Club, where participants cars are parked.</p>

    <p>During our paddle we will have lots of opportunities to see wildlife such as bald eagles, osprey, deer, beaver, muskrats, great blue herons, egrets, kingfisher and many more!</p>

    <p>We will also have an opportunity to check out the cave at Red Oak Nature Center!</p>

    <p>There is one dam in North Aurora that we will portage around, it is very safe and easy to do.</p>

    <p>There is an added bonus,we will walk up to Harners Bakery for their famous donuts!</p>

    <p class="subtitle">The cost for the experience is $59/person and it includes…</p>
    <ul>
        <li>Kayak</li>
        <li>Shuttle</li>
        <li>Paddle</li>
        <li>Personal Floatation Device</li>
        <li>Guide</li>
        <li>Pastry from Harners</li>
        <li>A Great Time!!!</li>
    </ul>
</div>

<div class="trip-text" *ngIf="naBoolean">
    <p>Join Howling Wolfe Canoe & Kayak for a short relaxing kayak tour that&#39;s on the Fox River that&#39;s great for beginners!</p>

    <p>We will meet at the Aurora Athletic Club (550 Clearwater Drive Aurora) and then shuttle participants up to North Aurora and we will paddle back to the Aurora Athletic Club, where participants cars are parked.</p>
        
    <p>During our paddle we will have lots of opportunities to see wildlife such as bald eagles, osprey, deer, beaver, muskrats, great blue herons, egrets, kingfisher and many more!</p>
        
    <p class="subtitle">The cost for the experience is $59/person and it includes…</p>
    <ul>
        <li>Kayak</li>
        <li>Shuttle</li>
        <li>Paddle</li>
        <li>Personal Floatation Device</li>
        <li>Guide</li>
        <li>A Great Time!!!</li>
    </ul>
</div>


<div class="trip-text" *ngIf="brewsBoolean">
    <p>This all-inclusive guided tour starts at Island Park in North Aurora for a guided trip led by Howling Wolfe Canoe and Kayak paddling the Fox River from North Aurora Island Park to the Aurora Athletic Club (roughly 1 hour).</p>

    <p>The river portion of this tour is led by one of Howling Wolfe&#39;s certified guides. Please be sure to dress in layers and dress to get wet! (Water shoes are highly suggested!). Feel free to call Howling Wolfe Canoe & Kayak with any questions regarding the paddle. </p>
    
    <p>After the float we will hop on our Brews Mobile to visit Brother Chimp Brewery and then Gillerson&#39;s Grubbery. The Chicagoland Brews Mobile will then return you to your parked vehicles at Island Park in North Aurora.</p>
    
    <p class="subtitle">Included in your Ticket Purchase</p>
    <ul>
        <li>Kayak, paddle, float device and Certified Guide for Fox River portion of trip.</li>
        <li>A flight of beers and a tour of the Brother Chimp micro-brewery everyone is talking about.</li>
        <li>A choice of beers at Gillerson&#39;s. You can purchase food on your own here such as their award winning burgers. They will provide all Brews Cruise tour guests 50% off any one appetizer of your choice.</li>
        <li>All tips and tax for included beer.</li>
    </ul>
    <p class="subtitle">About Brother Chimp Brewery</p>
    
    <p>Brother Chimp Brewery Owner and Brewer Steve Newman&#39;s journey started when he retired from a corporate career, found a passion for home brewing, and won a major home brewing competition. Brother Chimp focuses on traditional style beers with the slogan “Craft beers that taste like beer”, and recent popularity has allowed him to expand his operation.</p>
    
    <p class="subtitle">Additional Offer</p>
    
    <p>Your ticket purchase also gets you 50% off any one of Gillerson&#39;s appetizers (good on evening of event only).</p>

</div>

<div class="trip-text" *ngIf="fallBoolean">
    <p>Join Howling Wolfe Canoe & Kayak for a beautiful fall foliage guided kayak tour down the beautiful Fox River.</p>

    <p>We will meet at the Aurora Athletic Club (550 Clearwater Drive Aurora) and then shuttle participants up to Batavia and we will paddle back to the Aurora Athletic Club, where participants cars are parked.</p>

    <p>During our paddle we will have lots of opportunities to see wildlife such as bald eagles, osprey, deer, beaver, muskrats, great blue herons, egrets, kingfisher and many more!</p>

    <p>We will also have an opportunity to check out the cave at Red Oak Nature Center!</p>

    <p>There is one dam in North Aurora that we will portage around, it is very safe and easy to do.</p>

    <p>There is an added bonus,we will walk up to Harners Bakery for their famous donuts!</p>

    <p class="subtitle">The cost for the experience is $59/person and it includes…</p>
    <ul>
        <li>Kayak</li>
        <li>Shuttle</li>
        <li>Paddle</li>
        <li>Personal Floatation Device</li>
        <li>Guide</li>
        <li>Pastry from Harners</li>
        <li>A Great Time!!!</li>
    </ul>
</div>
