<div class="trip-text" *ngIf="sunsetBoolean">
    <p class="desc-title center">Sunset &amp; S&rsquo;mores Kayak Tour: $59/Person</p>
    <p class="desc-block"><span class="cinzel">Dates:</span> TBD</p>
    <p class="desc-block"><span class="cinzel">Time:</span> 6pm-7pm</p>
    <p class="desc-block"><span class="cinzel">Trip Duration:</span> 1 Hour</p>
    <p class="desc-block"><span class="cinzel">Skill level:</span> ALL</p>
    <p class="desc-block mb-3"><span class="cinzel">Cost:</span> $59/person</p>
    <p>Feed your adventurous spirit, as well as your hunger, on our deliciously sweet Sunset &amp; S&rsquo;mores guided kayak tour. This quick, family-friendly tour is perfect for all skill levels. The journey ends at the Athletic Club, where we provide the perfect sunset view on the Fox River, S&rsquo;mores, and the opportunity to make new friends around the campfire.</p>
    <p>The tour begins at the <a href="https://www.facebook.com/profile.php?id=100063581530152" target=”_blank”>Aurora Athletic Club</a>, where participants will park their cars and be shuttled up to <a href="https://goo.gl/maps/QM4Rw1cTCqN1cyJ8A" target=”_blank”>North Aurora Island Park</a>. Upon arrival at the park, participants will be given paddles and lifejackets, sized for kayaks, and receive dryland instruction for the following skills:</p>
    <ul>
        <li>How to go straight</li>
        <li>How to steer</li>
        <li>How to stop</li>
        <li>How to stay upright and comfortable</li>
    </ul>
    <p>Once the instruction is over, the guide will assist you in getting your boat into the water, and you&rsquo;ll be ready to start your trip! To be in a tandem kayak with an adult, children must be at least 30 pounds and follow directions well. To be in a single kayak, participants must be 15 years of age and at least 100lbs.</p>
    <p class="subtitle">Howling Wolfe Canoe and Kayak Provides:</p>
    <ul>
        <li>Kayak</li>
        <li>Personal floatation device (PFD)</li>
        <li>Shuttle</li>
        <li>Paddle</li>
        <li>Guide</li>
        <li>S&rsquo;mores</li>
        <li>Sunset views</li>
    </ul>
    <p class="center subtitle">North Aurora Athletic Club</p>
    <p class="center">550 Clearwater Drive</p>
    <p class="center">North Aurora, IL 60542</p>
</div>

<div class="trip-text" *ngIf="bluesBoolean">
    <p class="desc-title center">Blues Cruise Guided Kayak Tour: $39/person</p>
    <p class="desc-block"><span class="cinzel">Dates:</span> Every Wednesday through June, July, and August</p>
    <p class="desc-block"><span class="cinzel">Time:</span> 5pm - 6pm</p>
    <p class="desc-block"><span class="cinzel">Trip Duration:</span> 1 Hour</p>
    <p class="desc-block"><span class="cinzel">Skill level:</span> ALL</p>
    <p class="desc-block mb-3"><span class="cinzel">Cost:</span> $39/person</p>
    <p>This quick, kayak adventure is perfect for nature and music lovers alike! This guided tour down the Fox River is ideal for beginners looking to de-stress from a long day and enjoy an evening of live music. You&rsquo;ll find yourself in close contact with local Kane County wildlife, such as bald eagles, osprey, deer, beaver, muskrat, great blue heron, egret, kingfisher, and many more.</p>
    <p>The tour ends with the soulful sounds of blues music, provided by the <a href="https://www.facebook.com/people/The-Fabulous-Kings/100077690790315/?ref=page_internal" target="_blank">Fabulous Kings</a>. Local musicians are encouraged to join the jam, so bring your instruments to play after the float. Enjoying the music is not exclusive to the kayak trip. You are more than welcome to meet at the Aurora Athletic Club for free blues. Support the club by purchasing a drink and bringing your friends!</p>
    <p>The tour begins at the <a href="https://www.facebook.com/profile.php?id=100063581530152" target=”_blank”>Aurora Athletic Club</a>, where participants will park their cars and be shuttled up to <a href="https://goo.gl/maps/QM4Rw1cTCqN1cyJ8A" target=”_blank”>North Aurora Island Park</a>. Upon arrival at the park, participants will be given paddles and lifejackets, sized for kayaks, and receive dryland instruction for the following skills:</p>
    <ul>
        <li>How to go straight</li>
        <li>How to steer</li>
        <li>How to stop</li>
        <li>How to stay upright and comfortable</li>
    </ul>
    <p>Once the instruction is over, the guide will assist you in getting your boat into the water, and you&rsquo;ll be ready to start your trip! To be in a tandem kayak with an adult, children must be at least 30 pounds and follow directions well. To be in a single kayak, participants must be 15 years of age and at least 100lbs.</p>
    <p class="subtitle">Howling Wolfe Canoe and Kayak Provides:</p>
    <ul>
        <li>Kayak</li>
        <li>Personal floatation device (PFD)</li>
        <li>Shuttle</li>
        <li>Paddle</li>
        <li>Guide</li>
    </ul>
    <p class="center subtitle">North Aurora Athletic Club</p>
    <p class="center">550 Clearwater Drive</p>
    <p class="center">North Aurora, IL 60542</p>
</div>

<div class="trip-text" *ngIf="bataviaBoolean">
    <p class="desc-title center">Batavia - Aurora Guided Kayak Tour: $99/person</p>
    <p class="desc-block"><span class="cinzel">Dates:</span> TBD</p>
    <p class="desc-block"><span class="cinzel">Time:</span> 8am - 11am</p>
    <p class="desc-block"><span class="cinzel">Trip Duration:</span> 2.5 Hours</p>
    <p class="desc-block"><span class="cinzel">Skill level:</span> ALL</p>
    <p class="desc-block mb-3"><span class="cinzel">Cost:</span> $99/person</p>
    <p>This guided, morning kayak tour, along the tree-lined Fox River, stops along the way at local favorites, such as the Cave of the Spirit at Red Oak Nature Center and the bald eagles nest by Mooseheart School. The final stop before the end of the trip will be at Harner's Bakery, where you can enjoy one of their famous donuts! You&rsquo;ll find yourself in close contact with local Kane County wildlife, such as bald eagles, osprey, deer, beaver, muskrat, great blue heron, egret, kingfisher, and many more. This tour is perfect for all skill levels; it includes a dam in North Aurora that we will portage around and is easy to do.</p>
    <p>The tour begins at the <a href="https://www.facebook.com/profile.php?id=100063581530152" target=”_blank”>Aurora Athletic Club</a>, where participants will park their cars and be shuttled up to the <a href="https://goo.gl/maps/pdjo2T5QTUr1XSSGA" target="_blank">Glenwood Park Forest Preserve</a>. Upon arrival at the park, participants will be given paddles and lifejackets, sized for kayaks, and receive dryland instruction for the following skills:</p>
    <ul>
        <li>How to go straight</li>
        <li>How to steer</li>
        <li>How to stop</li>
        <li>How to stay upright and comfortable</li>
    </ul>
    <p>Once the instruction is over, the guide will assist you in getting your boat into the water, and you&rsquo;ll be ready to start your trip! To be in a tandem kayak with an adult, children must be at least 30 pounds and follow directions well. To be in a single kayak, participants must be 15 years of age and at least 100lbs.</p>
    <p class="subtitle">Howling Wolfe Canoe and Kayak Provides:</p>
    <ul>
        <li>Kayak</li>
        <li>Personal floatation device (PFD)</li>
        <li>Shuttle</li>
        <li>Paddle</li>
        <li>Guide</li>
    </ul>
    <p class="center subtitle">North Aurora Athletic Club</p>
    <p class="center">550 Clearwater Drive</p>
    <p class="center">North Aurora, IL 60542</p>
</div>

<div class="trip-text" *ngIf="naBoolean">
    <p class="desc-title center">North Aurora - Aurora: $59/person</p>
    <p class="desc-block"><span class="cinzel">Dates:</span> TBD</p>
    <p class="desc-block"><span class="cinzel">Time:</span> 5pm - 6pm</p>
    <p class="desc-block"><span class="cinzel">Trip Duration:</span> 1 Hour</p>
    <p class="desc-block"><span class="cinzel">Skill level:</span> ALL</p>
    <p class="desc-block mb-3"><span class="cinzel">Cost:</span> $59/person</p>
    <p>Whether you&rsquo;re looking to de-stress after a long day or simply to enjoy an evening on the Fox River, this quick kayak tour is perfect for all skill levels. This guided tour is perfect for after-work or school, and can still get you home in time for dinner! You&rsquo;ll find yourself in close contact with local Kane County wildlife, such as bald eagles, osprey, deer, beaver, muskrat, great blue heron, egret, kingfisher, and many more.</p>
    <p>The tour begins at the <a href="https://www.facebook.com/profile.php?id=100063581530152" target=”_blank”>Aurora Athletic Club</a>, where participants will park their cars and be shuttled up to <a href="https://goo.gl/maps/QM4Rw1cTCqN1cyJ8A" target=”_blank”>North Aurora Island Park</a>. Upon arrival at the park, participants will be given paddles and lifejackets, sized for kayaks, and receive dryland instruction for the following skills:</p>
    <ul>
        <li>How to go straight</li>
        <li>How to steer</li>
        <li>How to stop</li>
        <li>How to stay upright and comfortable</li>
    </ul>
    <p>Once the instruction is over, the guide will assist you in getting your boat into the water, and you&rsquo;ll be ready to start your trip! To be in a tandem kayak with an adult, children must be at least 30 pounds and follow directions well. To be in a single kayak, participants must be 15 years of age and at least 100lbs.</p>
    <p class="subtitle">Howling Wolfe Canoe and Kayak Provides:</p>
    <ul>
        <li>Kayak</li>
        <li>Personal floatation device (PFD)</li>
        <li>Shuttle</li>
        <li>Paddle</li>
        <li>Guide</li>
    </ul>
    <p class="center subtitle">North Aurora Athletic Club</p>
    <p class="center">550 Clearwater Drive</p>
    <p class="center">North Aurora, IL 60542</p>
</div>

<div class="trip-text" *ngIf="brewsBoolean">
    <p class="desc-title center">Brews Cruise: $115/person</p>
    <p class="desc-block"><span class="cinzel">Dates:</span> Last Thursday of Every Month</p>
    <p class="desc-block"><span class="cinzel">Time:</span> 5pm - 8pm</p>
    <p class="desc-block"><span class="cinzel">Trip Duration:</span> 1 Hour</p>
    <p class="desc-block"><span class="cinzel">Skill level:</span> ALL</p>
    <p class="desc-block mb-3"><span class="cinzel">Cost:</span> $115/person</p>
    <p>The Chicagoland Brew Crews and Howling Wolfe Canoe and Kayak have partnered together for this all-inclusive, guided kayak and beer tour of the Fox River. Not only will you get to unwind with the gorgeous scenery of the Fox River, but after the float, we will hop on the Brews Mobile to visit <a href="https://business.untappd.com/boards/43685" target="_blank">Brother Chimp Brewery</a> and then <a href="https://gillersons.com/menu" target="_blank">Gillersons Grubbery</a>. The Brews Mobile will return you to your parked vehicles at Island Park.</p>
    <p>The tour ends with the soulful sounds of blues music, provided by the Fabulous Kings. Local musicians are encouraged to join the jam, so bring your instruments to play after the float. Enjoying the music is not exclusive to the kayak trip. You are more than welcome to meet at the Aurora Athletic Club for free blues. Support the club by purchasing a drink and bringing your friends!</p>
    <p>The tour begins at the <a href="https://goo.gl/maps/QM4Rw1cTCqN1cyJ8A" target=”_blank”>North Aurora Island Park</a>, where participants will park their cars. Participants will be given paddles and lifejackets, sized for kayaks, and receive dryland instruction for the following skills:</p>
    <ul>
        <li>How to go straight</li>
        <li>How to steer</li>
        <li>How to stop</li>
        <li>How to stay upright and comfortable</li>
    </ul>
    <p>Once the instruction is over, the guide will assist you in getting your boat into the water, and you&rsquo;ll be ready to start the river portion of the tour, led by one of Howling Wolfe&rsquo;s guides. Participants must be 21 years of age.</p> 
    <p class="subtitle">Howling Wolfe Canoe and Kayak Provides:</p>
    <ul>
        <li>A flight of beers and tour of the Brother Chimp microbrewery</li>
        <li>Choice of beers at Gillersons</li>
        <li>All tips and tax for included beers</li>
        <li>50% off any one of Gillerson&rsquo;s appetizers (good on evening of event only)</li>
        <li>Kayak</li>
        <li>Personal floatation device (PFD)</li>
        <li>Shuttle</li>
        <li>Paddle</li>
        <li>Guide</li>
    </ul>
    <p class="subtitle">Brother Chimp Brewery:</p>
 
    <p>Brother Chimp Brewery Owner and Brewer Steve Newman&rsquo;s journey started when he retired from a corporate career, found a passion for home brewing, and won a major home brewing competition. Brother Chimp focuses on traditional style beers with the slogan, “Craft beers that taste like beer”. Recent popularity has allowed him to expand his operation.</p>
    
</div>

<div class="trip-text" *ngIf="fallBoolean">
    <p class="desc-title center">Fall Colors Guided Kayak Tour (Batavia - Aurora): $99/person</p>
    <p class="desc-block"><span class="cinzel">Dates:</span> TBD</p>
    <p class="desc-block"><span class="cinzel">Time:</span> 10am - 1pm</p>
    <p class="desc-block"><span class="cinzel">Trip Duration:</span> 3 Hour</p>
    <p class="desc-block"><span class="cinzel">Skill level:</span> ALL</p>
    <p class="desc-block mb-3"><span class="cinzel">Cost:</span> $99/person</p>
    <p>This guided, fall kayak tour down the tree-lined Fox River offers the best view of the warm, fall foliage. Stops along the way include local favorites, such as the Cave of the Spirit in Red Oak Nature Center and the bald eagle&rsquo;s nest at Mooseheart School. The last stop before the end of the trip will be at Harner's Bakery, where you can enjoy one of their famous donuts! You&rsquo;ll find yourself in close contact with local Kane County wildlife, such as bald eagles, osprey, deer, beaver, muskrat, great blue heron, egret, kingfisher, and many more. This tour is perfect for all skill levels; it includes a dam in North Aurora that we will portage around and is easy to do.
    </p>
    <p>The tour begins at the <a href="https://www.facebook.com/profile.php?id=100063581530152" target=”_blank”>Aurora Athletic Club</a>, where participants will park their cars and be shuttled up to the <a href="https://goo.gl/maps/pdjo2T5QTUr1XSSGA" target="_blank">Glenwood Park Forest Preserve</a>. Upon arrival at the park, participants will be given paddles and lifejackets, sized for kayaks, and receive dryland instruction for the following skills:</p>
    <ul>
        <li>How to go straight</li>
        <li>How to steer</li>
        <li>How to stop</li>
        <li>How to stay upright and comfortable</li>
    </ul>
    <p>Once the instruction is over, the guide will assist you in getting your boat into the water, and you&rsquo;ll be ready to start your trip! To be in a tandem kayak with an adult, children must be at least 30 pounds and follow directions well. To be in a single kayak, participants must be 15 years of age and at least 100lbs.</p>
    <p class="subtitle">Howling Wolfe Canoe and Kayak Provides:</p>
    <ul>
        <li>Kayak</li>
        <li>Personal floatation device (PFD)</li>
        <li>Shuttle</li>
        <li>Paddle</li>
        <li>Guide</li>
    </ul>
    <p class="center subtitle">North Aurora Athletic Club</p>
    <p class="center">550 Clearwater Drive</p>
    <p class="center">North Aurora, IL 60542</p>
</div>
