table {
  margin: auto;
  text-align: center;
  display: block;
  max-width: -moz-fit-content;
  max-width: fit-content;
  max-height: 73vh;
  /* margin: 0 auto; */
  overflow-x: auto;
  overflow-y: auto;
  white-space: nowrap;
}

#dropdown {
  display: none;
}

#buttons {
  text-align: center;
}

h1 {
  font-family: "Cinzel", serif;
}

.contain {
  padding-bottom: 40px;
  max-width: 93%;
  margin: auto;
}

.alert {
  max-width: 400px;
  text-align: center;
  margin: auto;
}

#csv-button {
  margin: 30px auto;
  display: block;
}

.res-table {
  margin-top: 10px;
}

.coupon-table {
  margin-top: 5%;
}

.month {
  text-align: center;
}

#reservation {
  margin-top: 40px;
}

#edit-gc {
  margin: 5% auto 0px auto;
  text-align: center;
  border: 1px solid grey;
  border-radius: 5px;
  width: fit-content;
  padding: 25px;
}

#edit {
  border: none;
  background: none;
  font-size: 145%;
  padding-left: 10px;
}

.btn-secondary {
  background-color: rgb(214, 211, 211);
  border: none;
  margin: 10px;
  color: black;
  height: 48px;
}

.add-coupon {
  text-align: center;
  border: 1px solid darkgray;
  border-radius: 5px;
  max-width: 400px;
  margin: auto;
}

mat-form-field {
  max-width: 180px;
}

#loading {
  margin: auto;
  display: block;
  padding-top: 60px;
}
.header {
  border: 1px solid black;
  padding: 10px;
}

.id {
  max-width: 20px;
  overflow: hidden;
}

.data {
  border: 1px solid black;
  padding: 5px;
}

.comment {
  min-width: 150px;
  max-width: 150px;
  overflow-x: auto;
}

.data-edit {
  border: 1px solid darkgray;
  padding: 5px;
}

.odd {
  background-color: rgb(214, 211, 211);
}

.email {
  width: 50px;
  overflow: hidden;
}

.delete {
  background: red;
  height: 25px;
  width: 20px;
  padding-top: 0px;
  padding-left: 3px;
}

.add-btn {
  text-align: center;
}

#safety-video {
  text-align: center;
}

.mat-menu-content:not(:empty) {
  padding-top: 0px;
}

.mat-menu-content {
  padding: 0 15px 8px 15px;
}

.mat-button,
.mat-icon-button,
.mat-stroked-button,
.mat-flat-button {
  padding-right: 0;
}

.mat-calendar-table {
  overflow-x: visible;
}
.mat-calendar-header {
  padding: 0px 8px 0 8px;
}

.mat-calendar-body-cell-content.mat-focus-indicator {
  position: relative !important;
}

.mat-calendar-body-cell-content {
  line-height: 0 !important;
  padding: 0 4px;
}

.mat-calendar-body-cell.selected {
  background-color: rgb(83, 143, 255);
  border-radius: 50%;
}

#when-good {
  border: none;
  border-bottom: 1px solid black;
  width: 180px;
  height: 52px;
  color: rgb(100, 100, 100);
}

#when-label {
  padding: 0 52px 0 0;
  vertical-align: top;
}

.chippies {
  max-width: 300px;
  margin: auto;
}

.mat-chip-list-wrapper {
  margin: 10px auto -10px auto !important;
  max-width: 280px;
}

.mat-chip {
  min-width: 130px;
}

.spacer {
  width: 20px;
}

.drop-calendar {
  width: 30rem;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

@media only screen and (max-width: 1000px) {
  .links {
    display: none;
  }
  #dropdown {
    display: block;
  }
}

@media only screen and (max-width: 330px) {
  .mat-chip-list-wrapper {
    max-width: 130px;
  }
}
