<div class="container">
    <div *ngIf="invalidBoolean" class="alert alert-danger">
        {{loginErrorMessage}}
    </div>
    <form *ngIf="loginBoolean" class="form mt-4 center">
        <mat-form-field>
            <mat-label >User Name</mat-label>
            <input name="userName" matInput type="text" [(ngModel)]="userName" class="userName" required>
        </mat-form-field>
        <br>
        <mat-form-field>
            <mat-label >Password</mat-label>
            <input name="password" matInput type="password" [(ngModel)]="password" class="password" required>
        </mat-form-field>
        <br>
        <button class="btn btn-secondary mb-4 submit" (click)="submit()" >Submit</button>
    </form>

    <div id="dropdown" class="mt-3" *ngIf="buttonBoolean" >
        <mat-form-field appearance="fill">
            <mat-label>Navigation</mat-label>
            <mat-select [(value)]="navigation" >
              <mat-option value="all" (click)="dropdown()">All</mat-option>
              <mat-option value="upcoming" (click)="dropdown()">Upcoming</mat-option>
              <mat-option value="today" (click)="dropdown()">Today</mat-option>
              <mat-option value="month" (click)="dropdown()">Monthly</mat-option>
              <mat-option value="coupons" (click)="dropdown()">Coupons</mat-option>
              <mat-option value="giftcards" (click)="dropdown()">Gift Cards</mat-option>
              <mat-option value="reservation" (click)="dropdown()">Add Reservation</mat-option>
              <mat-option value="video" (click)="dropdown()">Safety Video</mat-option>
            </mat-select>
          </mat-form-field>
    </div>
    <div id="buttons" *ngIf="buttonBoolean">
        <div class="mt-4 links">
            <mat-button-toggle-group name="orderToggle" value="upcoming">
              <mat-button-toggle (click)="all()" value="all">All</mat-button-toggle>
              <mat-button-toggle (click)="upcoming()" value="upcoming">Upcoming</mat-button-toggle>
              <mat-button-toggle (click)="today()" value="today">Today</mat-button-toggle>
              <mat-button-toggle (click)="month()" value="month">Monthly</mat-button-toggle>
              <mat-button-toggle (click)="coupon()" value="coupons">Coupons</mat-button-toggle>
              <mat-button-toggle (click)="giftCard()" value="giftCard">Gift Cards</mat-button-toggle>
              <mat-button-toggle (click)="reservation()" value="reservation">Add Reservation</mat-button-toggle>
              <mat-button-toggle (click)="safety()" value="safety">Video</mat-button-toggle>
            </mat-button-toggle-group>
        </div>
    </div>    
    <img *ngIf="isLoading"id="loading" src="../../../assets/infinitySpinner.svg" alt="">
    <div *ngIf="errorBoolean" class="alert alert-danger">All fields required</div>
    <div id="reservation" *ngIf="resBoolean">
        <app-rent></app-rent>
    </div>
    <div id="safety-video" class="mt-5" *ngIf="safetyBoolean" >
        <iframe width="900px" height="490px" allow="fullscreen" src="../../../assets/Rental_Boat_Safety.mp4" ></iframe>
    </div>
    <table  *ngIf="orderBoolean"  class="res-table">
        <tr>
            <th class="header">Order Id</th>
            <th class="header">Date</th>
            <th class="header">Time</th>
            <th class="header">Duration</th>
            <th class="header">Boat</th>
            <th class="header">Name</th>
            <th class="header">Height</th>
            <th class="header">Weight</th>
            <th class="header">Email</th>
            <th class="header">Phone</th>
            <th class="header">Coupon</th>
            <th class="header">Ordered On</th>
            <th class="header">Price</th>
            <th class="header">Discount</th>
            <th class="header">GC Debit</th>
            <th class="header">GC Number</th>
            <th class="header">Waiver</th>
            <!-- <th class="header">Delete</th> -->
        </tr>
        <tr *ngFor="let order of sortedOrderDisplays; let even = even; let odd = odd" 
        [ngClass]="{ odd: odd, even: even }">
            <td class="data id">{{order.id}}</td>
            <td class="data">{{order.date | date:'shortDate'}}</td>
            <td class="data">{{order.time}}</td>
            <td class="data">{{order.duration}} hours</td>
            <td class="data">{{order.boat}}</td>
            <td class="data">{{order.name}}</td>
            <td class="data">{{order.height}}</td>
            <td class="data">{{order.weight}}</td>
            <td class="data email"><a target="_blank" href="mailto:{{order.email}}">{{order.email}}</a></td>
            <td class="data">{{order.phone}}</td>
            <td class="data">{{order.coupon}}</td>
            <td class="data">{{order.orderedOn | date: 'shortDate'}}</td>
            <td class="data">{{order.price | currency: 'USD'}}</td>
            <td class="data" style="color:red">{{order.discount | currency: 'USD'}}</td>
            <td class="data" style="color:red">{{order.gcDebit | currency: 'USD'}}</td>
            <td class="data">{{order.giftCard}}</td>
            <td class="data"><a download="{{order.date |date:'yyyy_MMM_d'}}-{{order.name}}" href="../../../assets/Waiver.pdf">Download</a></td>
            <td class="data"><button class="btn btn-danger delete" (click)="deleteBoat(order.boatId)"><span class="x">X</span></button></td>
            
        </tr>
    </table>
    <div *ngIf="couponTable">
        <div class="alert alert-success" *ngIf="couponAlert">{{couponMsg}}</div>
        <table class="coupon-table">
            <tr>
                <th class="header">Id</th>
                <th class="header">Code</th>
                <th class="header">Discount</th>
                <th class="header">Good Until</th>
                <th class="header">Days Good</th>
                <th class="header">Good For GC</th>
                <th class="header">Delete</th>
            </tr>
            <tr *ngFor="let coupon of coupons; let even = even; let odd = odd" 
            [ngClass]="{ odd: odd, even: even }">
                <td class="data">{{coupon.id}}</td>
                <td class="data">{{coupon.code}}</td>
                <td class="data">{{coupon.discount}}%</td>
                <td class="data">{{coupon.goodUntil | date: 'shortDate'}}</td>
                <td class="data"><button mat-icon-button [matMenuTriggerFor]="appMenu" >
                    <mat-icon>calendar_today</mat-icon>
                </button>
                <mat-menu #appMenu="matMenu">
                    <div (click)="$event.stopPropagation()">
                        <mat-calendar #calendar [minDate]="minDate" 
                            [dateClass]="openCal(coupon.id)">
                        </mat-calendar>
                    </div>
                </mat-menu></td>
                <td class="data">{{coupon.goodForGC}}</td>
                <td class="data"><button class="btn btn-danger delete" (click)="deleteCoupon(coupon.id)"><span class="x">X</span></button></td>
            </tr>
        </table>
        <div class="add-btn mt-2" >
            <button class="add-coupon-btn btn btn-secondary" (click)="addCoupon()">Add Coupon</button>
        </div>
    </div>
    <div *ngIf="giftCardTable">
            <div class="alert alert-success" *ngIf="couponAlert">{{couponMsg}}</div>
        <table class="coupon-table">
            <tr>
                <th class="header">Card Number</th>
                <th class="header">Balance</th>
                <th class="header">Email</th>
                <th class="header">Purchased</th>
                <th class="header">Delete</th>
                <th class="header">Edit</th>
            </tr>
            <tr *ngFor="let gc of giftCards; let even = even; let odd = odd" 
            [ngClass]="{ odd: odd, even: even }">
                <td class="data">{{gc.cardNumber}}</td>
                <td class="data">{{gc.balance / 100 | currency:USD}}</td>
                <td class="data">{{gc.email}}</td>
                <td class="data">{{gc.purchased_on | date: 'shortDate'}}</td>
                <td class="data"><button class="btn btn-danger delete" (click)="deleteGiftCard(gc.cardNumber)"><span class="x">X</span></button></td>
                <td class="data"><button id="edit" (click)="editGiftCard(gc)"><span id="edit-icon"><i class="far fa-edit"></i></span></button></td>
            </tr>
            <!-- <tr>
                <td></td>
            </tr> -->
        </table>
        <div class="add-btn mt-2">
            <button class=" btn btn-secondary" (click)="addGiftCard()">Add Gift Card</button>
        </div>
    </div>

    <div id="edit-gc" *ngIf="editGiftCardBoolean">
        <h1>Edit Balance</h1>
        <!-- <div class="text">Card Number: <span id="number">{{cardNumber}}</span></div>
        <div class="text">Email: <span id="edit-email">{{email}}</span></div> -->
        <table id="edit-table">
            <tr>
                <td class="data-edit">Number: </td>
                <td class="data-edit">{{cardNumber}}</td>
            </tr>
            <tr>
                <td class="data-edit">Email: </td>
                <td class="data-edit">{{email}}</td>
            </tr>
        </table>
        <mat-form-field>
            <mat-label >New Amount</mat-label>
            <input name="balance" matInput type="number" [(ngModel)]="balance" class="balance" required>
        </mat-form-field>
        <div class="buttons">
            <button class="btn btn-secondary" (click)="editGiftCardSubmit()">Submit</button>
            <button class="btn btn-secondary" (click)="editGiftCardCancel()">Cancel</button>
        </div>
    </div>


    <div class="month mt-4" *ngIf="monthBoolean">
        <mat-form-field>
            <mat-label >Select Month</mat-label>
            <input name="month" matInput type="string" [(ngModel)]="monthNum" class="monthNum"  required>
        </mat-form-field>
        &nbsp;
        &nbsp;
        <!-- <br> -->
        <mat-form-field>
            <mat-label >Select Year</mat-label>
            <input name="year" matInput type="string" [(ngModel)]="yearNum" class="yearNum"  required>
        </mat-form-field>
        &nbsp;
        <!-- <br> -->
        <button class="btn btn-secondary mb-4 submit" (click)="monthlySubmit()">Submit</button>

        <table *ngIf="monthlyDisplayBoolean">
            <tr>
                <th class="header">Order Id</th>
                <th class="header">Date</th>
                <th class="header">Time</th>
                <th class="header">Duration</th>
                <th class="header">Boat</th>
                <th class="header">Name</th>
                <th class="header">Height</th>
                <th class="header">Weight</th>
                <th class="header">Email</th>
                <th class="header">Phone</th>
                <th class="header">Coupon</th>
                <th class="header">Price</th>
                
            </tr>
            <tr *ngFor="let order of monthlyOrderDisplays; let even = even; let odd = odd" 
            [ngClass]="{ odd: odd, even: even }">
                <td class="data id">{{order.id}}</td>
                <td class="data">{{order.date | date:'shortDate'}}</td>
                <td class="data">{{order.time}}</td>
                <td class="data">{{order.duration}} hours</td>
                <td class="data">{{order.boat}}</td>
                <td class="data">{{order.name}}</td>
                <td class="data">{{order.height}}</td>
                <td class="data">{{order.weight}}</td>
                <td class="data email"><a target="_blank" href="mailto:{{order.email}}">{{order.email}}</a></td>
                <td class="data">{{order.phone}}</td>
                <td class="data">{{order.coupon}}</td>
                <td class="data">{{order.price | currency: 'USD'}}</td>
            </tr>
        </table>
    </div>

    <div class="add-coupon mt-5" *ngIf="addCouponBoolean">
        <form class="coupon-form form mt-4" >
            <h1>Add A Coupon</h1>
            <mat-form-field>
                <mat-label >Code</mat-label>
                <input name="code" matInput type="text" [(ngModel)]="code" class="code" style="text-transform:uppercase" oninput="this.value = this.value.toUpperCase()" required>
            </mat-form-field>
            <br>
            <mat-form-field>
                <mat-label>Discount Type</mat-label>
                <mat-select [(value)]="discountType" >
                    <mat-option value="percent">Percent</mat-option>
                    <mat-option value="dollar">Dollar</mat-option>
                </mat-select>
            </mat-form-field>
            <br>
            <mat-form-field>
                <mat-label >Discount</mat-label>
                <input name="discount" matInput type="number" [(ngModel)]="discount" class="discount"  required>
            </mat-form-field>
            <br>
            <mat-form-field class="date-picker" appearance="fill">
                <mat-label>Good Until</mat-label>
                <input matInput [min]="minDate" [matDatepicker]="picker" name="date" [(ngModel)]="date" required>
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
            <br>
            
            <button id="when-good" mat-icon-button [matMenuTriggerFor]="appMenu">
                <mat-label id="when-label">Days Good *</mat-label>
                <span class="spacer"> </span>
                <mat-icon>calendar_today</mat-icon>
            </button>
            <mat-menu #appMenu="matMenu">
                <div (click)="$event.stopPropagation()">
                    <mat-calendar #calendar [minDate]="minDate"
                        (selectedChange)="select($event,calendar)" 
                        [dateClass]="isSelected">
                    </mat-calendar>
                </div>
            </mat-menu>
            <br>
            <mat-chip-list class="mt-3 chippies" #chipList aria-label="placeholder" [selectable]="false"
               (click)="focus()">
                <mat-chip *ngFor="let item of calTempDateArray" removable (removed)="remove(item)">
                    {{ item | date }}
                    <mat-icon matChipRemove>cancel</mat-icon>
                </mat-chip>
            </mat-chip-list>
            <br>
            <input type="checkbox" name="goodForGC" id="checkbox" [(ngModel)]="goodForGC">
            <mat-label>&nbsp; Works with Gift Cards</mat-label>
            <br>
            <button class="btn btn-secondary mb-4 submit" (click)="submitCoupon()" >Submit</button>
        </form>    
    </div>
        

    <div class="add-coupon" *ngIf="addGiftCardBoolean">
        <form class="coupon-form form mt-4" >
            <h1>Add A Gift Card</h1>
            <mat-form-field>
                <mat-label >Amount</mat-label>
                <input name="balance" matInput type="number" [(ngModel)]="balance" class="balance"  required>
            </mat-form-field>
            <br>
            <mat-form-field>
                <mat-label >Recipient Email</mat-label>
                <input name="email" matInput type="email" [(ngModel)]="email" class="recipient-email"  required>
            </mat-form-field>
            <br>
            <button class="btn btn-secondary mb-4  submit" (click)="submitGiftCard()" >Submit</button>
        </form>    
    </div>
</div>