<div class="container">
    <div *ngIf="invalidBoolean" class="alert alert-danger">
        Username or Password are incorrect
    </div>
    <form *ngIf="loginBoolean" class="form mt-4 center">
        <mat-form-field>
            <mat-label >User Name</mat-label>
            <input name="userName" matInput type="text" [(ngModel)]="userName" class="userName" required>
        </mat-form-field>
        <br>
        <mat-form-field>
            <mat-label >Password</mat-label>
            <input name="password" matInput type="password" [(ngModel)]="password" class="password" required>
        </mat-form-field>
        <br>
        <button class="btn btn-secondary mb-4 submit" (click)="submit()" >Submit</button>
    </form>
    <div class="orders" *ngIf="buttonBoolean">
        <div class="mt-4">
            <mat-button-toggle-group name="orderToggle" value="upcoming">
              <mat-button-toggle (click)="all()" value="all">All</mat-button-toggle>
              <mat-button-toggle (click)="upcoming()" value="upcoming">Upcoming</mat-button-toggle>
              <mat-button-toggle (click)="today()" value="today">Today</mat-button-toggle>
            </mat-button-toggle-group>
        </div>
        <div id="video" class="safety-link">
            <button id="coupon" class="btn btn-secondary" (click)="coupon()" >View Coupons</button>
            <button id="res-btn" class="btn btn-secondary" (click)="reservation()" >Add Reservation</button>
            <button class="btn btn-secondary" (click)="safety()" >Video</button>
        </div>
        
    <img *ngIf="isLoading"id="loading" src="../../../assets/infinitySpinner.svg" alt="">
    <div *ngIf="errorBoolean" class="alert alert-danger">All fields required</div>
        <div id="reservation" *ngIf="resBoolean">
            <app-rent></app-rent>
        </div>
        <div id="safety-video" class="mt-5" *ngIf="safetyBoolean" >
            <iframe width="900px" height="490px" allow="fullscreen" src="../../../assets/Rental_Boat_Safety.mp4" ></iframe>
        </div>
        <table  *ngIf="orderBoolean"  class="res-table">
            <tr>
                <th class="header">Order Id</th>
                <th class="header">Date</th>
                <th class="header">Time</th>
                <th class="header">Duration</th>
                <th class="header">Boat</th>
                <th class="header">Name</th>
                <th class="header">Height</th>
                <th class="header">Weight</th>
                <th class="header">Email</th>
                <th class="header">Phone</th>
                <th class="header">Waiver</th>
                <!-- <th class="header">Delete</th> -->
            </tr>
            <tr *ngFor="let order of sortedOrderDisplays; let even = even; let odd = odd" 
            [ngClass]="{ odd: odd, even: even }">
                <td class="data id">{{order.id}}</td>
                <td class="data">{{order.date | date:'shortDate'}}</td>
                <td class="data">{{order.time}}</td>
                <td class="data">{{order.duration}} hours</td>
                <td class="data">{{order.boat}}</td>
                <td class="data">{{order.name}}</td>
                <td class="data">{{order.height}}</td>
                <td class="data">{{order.weight}}</td>
                <td class="data email"><a target="_blank" href="mailto:{{order.email}}">{{order.email}}</a></td>
                <td class="data">{{order.phone}}</td>
                <td class="data"><a download="{{order.date |date:'yyyy_MMM_d'}}-{{order.name}}" href="../../../assets/Waiver.pdf">Download</a></td>
                <!-- <td class="data"><button class="btn btn-danger delete" (click)="delete(order.id)"><span class="x">X</span></button></td> -->
            </tr>
        </table>
        <table *ngIf="couponTable" class="coupon-table">
            <tr>
                <th class="header">Id</th>
                <th class="header">Code</th>
                <th class="header">Discount</th>
                <th class="header">Good Until</th>
                <th class="header">Delete</th>
            </tr>
            <tr *ngFor="let coupon of coupons; let even = even; let odd = odd" 
            [ngClass]="{ odd: odd, even: even }">
                <td class="data">{{coupon.id}}</td>
                <td class="data">{{coupon.code}}</td>
                <td class="data">{{coupon.discount}}</td>
                <td class="data">{{coupon.goodUntil | date: 'shortDate'}}</td>
                <td class="data"><button class="btn btn-danger delete" (click)="delete(coupon.id)"><span class="x">X</span></button></td>
            </tr>
            <tr>
                <td><button class="add-coupon-btn btn btn-secondary" (click)="addCoupon()">Add Coupon</button></td>
            </tr>
        </table>
        <div class="add-coupon" *ngIf="addCouponBoolean">
            
            <form class="coupon-form form mt-4" >
                <div class="alert alert-success" *ngIf="couponAlert">{{couponMsg}}</div>
                <h1>Add A Coupon</h1>
                <mat-form-field>
                    <mat-label >Code</mat-label>
                    <input name="code" matInput type="text" [(ngModel)]="code" class="code" style="text-transform:uppercase" oninput="this.value = this.value.toUpperCase()" required>
                </mat-form-field>
                <br>
                
                <mat-form-field>
                    <mat-label >Discount</mat-label>
                    <input name="discount" matInput type="number" [(ngModel)]="discount" class="discount"  required>
                </mat-form-field>
                <br>
                <mat-form-field class="date-picker" appearance="fill">
                    <mat-label>Good Until</mat-label>
                    <input matInput [matDatepicker]="picker" name="date" [(ngModel)]="date" required>
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
                <br>
                <button class="btn btn-secondary mb-4 submit" (click)="submitCoupon()" >Submit</button>
            </form>    
        </div>
    </div>
</div>