table {
  margin: auto;
  text-align: center;
  display: block;
  max-width: -moz-fit-content;
  max-width: fit-content;
  /* margin: 0 auto; */
  overflow-x: auto;
  white-space: nowrap;
}

#dropdown {
  display: none;
}

h1 {
  font-family: "Cinzel", serif;
}

.container {
  padding-bottom: 40px;
}

.alert {
  max-width: 200px;
  text-align: center;
  margin: auto;
}

.safety-link {
  position: absolute;
  right: 10%;
  top: 104px;
}

.res-table,
.coupon-table {
  margin-top: 5%;
}

.month {
  text-align: center;
}

.btn-secondary {
  background-color: rgb(214, 211, 211);
  border: none;
  margin: 10px;
  color: black;
  height: 48px;
}

.add-coupon {
  text-align: center;
}

mat-form-field {
  max-width: 180px;
}

#loading {
  margin: auto;
  display: block;
  padding-top: 60px;
}
.header {
  border: 1px solid black;
  padding: 10px;
}

.id {
  max-width: 20px;
  overflow: hidden;
}

.data {
  border: 1px solid black;
  padding: 5px;
}

.odd {
  background-color: rgb(214, 211, 211);
}

.email {
  width: 50px;
  overflow: hidden;
}

.delete {
  background: red;
  height: 25px;
  width: 20px;
  padding-top: 0px;
  padding-left: 3px;
}

.add-btn {
  text-align: center;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}

@media only screen and (max-width: 1000px) {
  .links {
    display: none;
  }
  #dropdown {
    display: block;
  }
}
