<div class="container">
    <hr>

    <div class="background center mt-5">
        <img class="logo" src="../../../assets/HowlingWolfeTransparent.png" alt="Howling Wolfe Logo">
        <!-- <img src="../../../assets/HowlingWolfeColored.png" alt="" class="center"> -->
        <!-- <h1 class="title">Howling Wolfe</h1>
        <h3 class="subtitle">Canoe + Kayak</h3> -->
    </div>

    <div class="row">
        <div class="col-sm center small-screen">
            <img src="../../../assets/carryingkayak.jpg" alt="Two people carrying a kayak" class="small-img">
        </div>
        <div class="col-sm center">
            <h1 class="header">Rentals</h1>
            <p class="text">Experience the Fox River from a new vantage point this summer with professional quality canoes and kayaks rentals in Aurora, North Aurora, and Batavia </p>
            <button class="btn rental-btn" routerLink="/rentals">Reserve Now!</button>
        </div>
        <div class="col-sm center large-screen">
            <img src="../../../assets/carryingkayak.jpg" alt="Two people carrying a kayak" class="small-img">
        </div>
    </div>

    <div class="row">
        <div class="col-sm center">
            <img src="../../../assets/kayaklessons.jpg" alt="Two people practicing kayak strokes" class="small-img">
        </div>
        <div class="col-sm center ">
            <h1 class="header">Lessons</h1>
            <p class="text"> Whether you are new to paddlesports and just want to learn the basics, you want to learn water safety and rescue, or you are a veteran looking to expand your skills, we have American Canoe Association certified instructors to help you prepare for your next adventure!</p>
            <button class="btn lessons-btn" routerLink="/lessons">Contact Us!</button>
        </div>
    </div>

    <div class="row pb-5">
        <div class="col-sm center small-screen">
            <img src="../../../assets/sunsetPaddling.jpg" alt="Kayaker paddling into the sunset" class="small-img">
        </div>
        <div class="col-sm center">
            <h1 class="header">Guided</h1>
            <p class="text">Custom guided trips available upon request and lead by guides knowledgeable in river navigation, beginner and advanced paddlestrokes, and about the ecology of the river.</p>
            <button class="btn guided-btn">Book Now!</button>
        </div>
        <div class="col-sm center large-screen">
            <img src="../../../assets/sunsetPaddling.jpg" alt="Kayaker paddling into the sunset" class="small-img">
        </div>
    </div>
    <hr>
</div>
<app-footer></app-footer>