<div class="container rental">
    <h1 class="title center mt-4 mb-4">Paddlesport Rentals</h1>
    <div class="row">
        <div class="col-sm text">
            <p>Looking for a fun new activity for this summer? Curious about canoeing and kayaking? Experience the Fox River from a new vantage point with Howling Wolfe Canoe & Kayak this summer!
                <br><br>
                Howling Wolfe Canoe & Kayak offers both kayak and canoe rentals, lessons and guided trips on the Fox River in Aurora Illlinois! 
                <br><br>
                
                The Fox River is home to many different species of wildlife and an abundance of flora and fauna! Howling Wolfe Canoe & Kayak will get you prepared for the Fox River experience of your choosing! 
                <br><br>
                
                <span class="bold">On Site:</span> On site rentals are perfect for those who might be new to paddle sports and are looking for something short, easy and relaxing!  
                <br><br>
                On site rentals launch at the <a href="https://www.google.com/maps/place/Aurora+Athletic+Club/@41.7855914,-88.3208956,15.08z/data=!4m5!3m4!1s0x880efad7812f555b:0x8d5c3884ae94eb7a!8m2!3d41.7860631!4d-88.3140031" target="_blank">Aurora Athletic Club</a>, paddlers are welcome to start their journey by paddling up stream and floating down towards downtown Aurora with a short paddle back to the Athletic Club. 
                <br><br>
                
                <span class="bold">North Aurora Paddle:</span> The North Aurora paddle is a great option for people who have never paddled on a river before or for those who are looking for a short float with no portages.
                <br>
                > Launch at <a href="https://www.google.com/maps/place/North+Aurora+Island+Park/@41.8044711,-88.3249045,16.24z/data=!4m5!3m4!1s0x880efb34c2419aa3:0xc24bd134fdc0ee5b!8m2!3d41.8047128!4d-88.3230199" target="_blank">North Aurora Island Park</a>
                <br>  
                > Takeout at <a href="https://www.google.com/maps/place/Aurora+Athletic+Club/@41.7855914,-88.3208956,15.08z/data=!4m5!3m4!1s0x880efad7812f555b:0x8d5c3884ae94eb7a!8m2!3d41.7860631!4d-88.3140031" target="_blank">Aurora Athletic Club </a>
                <br><br>
                
                <span class="bold">Batavia Paddle: </span> The Batavia paddle is a great option for those folks who are looking for a half day adventure with lots of sightseeing, wildlife and plenty of time to paddle! 
                <br>
                > Launch at <a href="https://www.google.com/maps/place/Glenwood+Park+Forest+Preserve/@41.8330831,-88.3147997,15.34z/data=!4m5!3m4!1s0x880efca38a3aaaf1:0xf6ba8a4eb732309!8m2!3d41.8330733!4d-88.3108849" target="_blank">Glenwood Forest Preserve </a> <br>
                > (1 portage around <a href="https://www.google.com/maps/place/North+Aurora+Dam/@41.8071576,-88.3260161,16.19z/data=!4m5!3m4!1s0x880ee563cdcf674b:0x5a2d8a6dabc26c62!8m2!3d41.8072049!4d-88.3243835" target="_blank">North Aurora Dam</a>)<br>
                > Takeout at <a href="https://www.google.com/maps/place/Aurora+Athletic+Club/@41.7855914,-88.3208956,15.08z/data=!4m5!3m4!1s0x880efad7812f555b:0x8d5c3884ae94eb7a!8m2!3d41.7860631!4d-88.3140031" target="_blank">Aurora Athletic Club </a>
                <br><br>
                
                
                -PFD’S Must be worn at all times <br><br>
                -On land instruction will be given day of but please watch the Canoe and Kayak Safety video courtesy of  Rental Boat Safety 
                <br><br>
                -No alcohol permitted in boats but alcohol is served at the Aurora Athletic club! 
                <br><br>
                THANK YOU!!!
                
            </p>
                
            
        </div>
        <div class="col-sm video">
            <iframe 
            src="https://www.youtube.com/embed/Zz3FfLSwO1Y" title="Rental Boat Safety" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture;" allowfullscreen></iframe>
            <div class="header">Prices</div>
            <table>
                <tr>
                    <th></th>
                    <th>Single Kayaks</th>
                    <th>Canoes</th>
                </tr>
                <tr>
                    <td class="bold">On Site</td>
                    <td>$20</td>
                    <td>$40</td>
                </tr>
                <tr>
                    <td class="bold">North Aurora</td>
                    <td>$30</td>
                    <td>$60</td>
                </tr>
                <tr class="bottom">
                    <td class="bold bottom">Batavia</td>
                    <td class="bottom">$55</td>
                    <td class="bottom">$110</td>
                </tr>
                
            </table>
            <img src="../../../assets/HowlingWolfeColored.png" alt="Howling Wolfe Logo" class="mt-5 logo">
        </div>    
    </div>
    <app-rent></app-rent>
</div>
