<div class="container rental">
    <h1 class="title center mt-4 mb-4">Paddlesport Rentals</h1>
    <div class="row">
        <div class="col-sm text">
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Explicabo ut ipsa corporis architecto fugit dolor dolores. Quod cumque hic provident iusto ipsam autem sunt tempore id blanditiis! Aliquid, cumque ipsum?
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Odit quam voluptate autem saepe, obcaecati placeat reprehenderit iste nobis nemo accusamus voluptates eum numquam fugiat at sapiente impedit eligendi, porro debitis. Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere ipsa, fugiat nostrum quam dolorum dolores id natus debitis adipisci culpa. Quibusdam numquam aliquam consectetur et rem blanditiis optio provident quo?</p>

                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laboriosam, autem quidem distinctio deserunt tempora, quo ea molestiae velit molestias, magnam neque officia nulla minus? Culpa tenetur rem excepturi doloribus consectetur.

                Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur, veniam reiciendis eos esse consectetur molestias repellendus mollitia adipisci neque repudiandae cumque amet incidunt corporis doloribus ut. Quam iste quibusdam atque?
                </p>
                
            
        </div>
        <div class="col-sm">
            <iframe width="400" height="264" src="https://www.youtube.com/embed/Zz3FfLSwO1Y" title="Rental Boat Safety" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <table>
                <tr>
                    <th></th>
                    <th>Single Kayaks & SUPs</th>
                    <th>Tandems & Canoes</th>
                    <th>Fishing Kayaks</th>
                </tr>
                <tr>
                    <td class="bold">2 hours</td>
                    <td>$30</td>
                    <td>$45</td>
                    <td>$35</td>
                </tr>
                <tr>
                    <td class="bold">Half Day</td>
                    <td>$40</td>
                    <td>$55</td>
                    <td>$45</td>
                </tr>
                <tr>
                    <td class="bold">Full Day</td>
                    <td>$55</td>
                    <td>$65</td>
                    <td>$60</td>
                </tr>
            </table>
        </div>    
    </div>
    <app-rent></app-rent>
</div>
