.rental {
  /* animation: slide 0.5s; */
}

@keyframes slide {
  0% {
    transform: translateX(1000px);
  }
  100% {
    transform: translateX(0px);
  }
}

.video {
  text-align: center;
}
table {
  margin: auto;
  border: 1px solid grey;
  margin-top: 20px;
  -webkit-box-shadow: 0 10px 6px -6px #777;
  -moz-box-shadow: 0 10px 6px -6px #777;
  box-shadow: 0 10px 6px -6px #777;
}
th {
  width: 120px;
  padding-top: 5px;
}
tr,
td {
  padding: 3px 0;
}
.bottom {
  padding-bottom: 10px;
}

.title {
  font-size: 300%;
  font-family: "Cinzel", serif;
}

.header {
  font-size: 180%;
  font-family: "Cinzel", serif;
  margin-top: 10px;
}

.bold {
  font-weight: 700;
  width: 75px;
}

.text {
  min-width: 200px;
}

iframe {
  height: 264px;
  width: 400px;
}

p {
  font-family: "Montserrat", sans-serif;
}

#gc-text {
  display: block;
  font-size: 150%;
  text-align: center;
}

td {
  margin: 5px 0 5px 0;
  font-family: "Montserrat", sans-serif;
}
th {
  font-family: "Montserrat", sans-serif;
}

.na {
  padding-left: 12px;
  width: 100px;
}

.logo {
  width: 200px;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}

@media only screen and (max-width: 625px) {
  iframe {
    width: 350px;
    height: 200px;
  }
  .logo {
    display: none;
  }
}

@media only screen and (max-width: 400px) {
  .title {
    font-size: 230%;
  }
  iframe {
    width: 250px;
    height: 130px;
  }
}
